extends layout

block head
  style.
    .mono { font-family: "Courier New" }
  style.
    .long-select { height: 50%; min-height: 20em }

block content
  .container-fluid
    .row
      .col-lg-2.col-sm-3.col-xs-12
        form.form.form-horizontal
          label(for="sponsors") Select Sponsors
          select.long-select.form-control#sponsors(multiple)
            each org in Object.keys(orgs)
              option(value=orgs[org])!=org
          label(for="buildings") Select Buildings
          select.long-select.form-control#buildings(multiple)
            each building in Object.keys(buildings)
              option(value=buildings[building])!=building
          button.btn.btn-primary(type="submit") Search
      .col-lg-10.col-sm-9.col-xs-12
        #entry-list.row

block footer
  script.
    var template = {}
  script(src="/templates/event.js")
  script(src="/coffee/make-request.js")
  script(src="/coffee/main.js")